.cards-item {
    background-color: rgb(36, 37, 41);
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.cards-item__info {
    min-height: 160px;
    padding: 20px 25px;
    flex-grow: 1;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.cards-item__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 15px;
}
.cards-item__genres {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

@media (max-width: 767.8px) {
    .cards-item__info {
        padding: 15px;
    }
}